body {
	background-color: #22252c;
	color: #ffffff;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
	background-color: #fff;
	color: #22252c;
	padding: 25px 50px;
	border-radius: 10px;
	text-align: center;
}
